#jobs {

  h5,
  h6,
  span {
    color: white;
  }
  width: 90%;
   @media (min-width: 576px) { width: 75%; }

  ;

  .brand,
  .skills {
    width:100% ;
    @media (min-width: 576px) { width: 50%; }
  }
}
